{% extends "base.html" %}
{% block content %}

<div style="background-color:;padding:20px" class="calender-cont">
    <h1>FEA Calender</h1><br><br>
    <span class="month-title">August 2025</span>
    <div class="line-sep"></div>
    <div class="month general-flex">
       
        <div class="event-cont">
            <div class="event-title">Youth Convention</div>
            <div class="event-date">27-28 August 2025</div>
            <div class="event-venue">Ebenezer Hall</div>
        </div>

        <div class="event-cont">
            <div class="event-title">FEA Executive Meeting</div>
            <div class="event-date">30 August 2025</div>
            <div class="event-venue">Ebenezer Hall</div>
        </div>

    </div>

    <span class="month-title">September 2025</span>
    <div class="line-sep"></div>
    <div class="month general-flex">
        
        <div class="event-cont">
            <div class="event-title">Pastors' Conference</div>
            <div class="event-date">03 Sept 2025</div>
            <div class="event-venue">Ebenezer Hall</div>
        </div>
   

        <div class="event-cont">
            <div class="event-title">Mothers' Convention</div>
            <div class="event-date">24-25 Sept 2025</div>
            <div class="event-venue">Nhlangano Hall</div>
        </div>


        <div class="event-cont">
            <div class="event-title">Sisters' Convention</div>
            <div class="event-date">27-28 Sept 2025</div>
            <div class="event-venue">Nhlangano Hall</div>
        </div>
        
    </div>

    <span class="month-title">December 2025</span>
    <div class="line-sep"></div>
    <div class="month general-flex">
        
        <div class="event-cont">
            <div class="event-title">Pastors' Conference</div>
            <div class="event-date">03 December 2025</div>
            <div class="event-venue">Ebenezer Hall</div>
        </div>
   

        <div class="event-cont">
            <div class="event-title">Youth CYC Convention</div>
            <div class="event-date">16-20 Sept 2025</div>
            <div class="event-venue">Goshen Hall</div>
        </div>


        <div class="event-cont">
            <div class="event-title">Sisters' Convention</div>
            <div class="event-date">27-28 December 2025</div>
            <div class="event-venue">Nhlangano Hall</div>
        </div>

        <div class="event-cont">
            <div class="event-title">Pastors' Conference</div>
            <div class="event-date">03 December 2025</div>
            <div class="event-venue">Ebenezer Hall</div>
        </div>
   

        <div class="event-cont">
            <div class="event-title">Youth CYC Convention</div>
            <div class="event-date">16-20 Sept 2025</div>
            <div class="event-venue">Goshen Hall</div>
        </div>


        <div class="event-cont">
            <div class="event-title">Sisters' Convention</div>
            <div class="event-date">27-28 December 2025</div>
            <div class="event-venue">Nhlangano Hall</div>
        </div>
    </div>

</div>

{% endblock %}