



{% extends "base.html" %}

{% block content %}
<div class="flash-messages" class="btns">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for  category, message in messages %}
                <div class="flash-messages alert-{{category}}"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<br>
<div style="justify-content: flex-start;padding:10px;width:70%;background-color: rgb(237, 238, 238);margin:0 auto;border-radius: 10px;" class="general-flex">
    <a style="background-color:;z-index:500" href="/registered_users" ><div><img style="height:35px" class="icons" src='static/icons/table-icon.png' /></div></a>
    <a style="background-color:;z-index:500"  href="/registrations" ><img style="height:35px" class="icons" src='static/icons/list-icon.png' /></a>
</div><br>


<div class="container-fea">
    <h3>{{current_user.church_local}} Committees</h3>
    {% for committee in committees %}
    <div  class="com_group">
        <h3 class="sub-top">{{committee}}</h3>
        <div style="" class="committe-sub-cont">
            {% for mem in admin_obj.query.filter_by(church_local=current_user.church_local,committee_local_group=committee).all() %}
                {% if not mem=="None" %}
                <div style="width:300px" class="user-info gen-flex-col card">
                    <div style="" class="img-cont">
                        <div width="90%"><img class="prf-image" src="{{ url_for('static', filename='images/' + mem.image) }}" alt=""/></div>
                    </div><br>
                    <h4 style="margin-bottom: 0;text-align: left;">{{mem.name}}</h4>
                    <div class="icons-cont"><small class="">{{mem.email}}</small></div>
                    <div class="icons-cont"><small style="font-size:18px;font-weight:600;color:rgb(16, 92, 16)" class="">({{mem.committee_local_pos}})</small></div>
                    {% if not mem.committee_mission_pos=='None' %}
                        <h5 style="margin-bottom:0px" class="btns-outlined">Mission Duties</h5>
                        <div class=""><small class="">{{mem.committee_mission_grp}}</small></div>
                        <div class="icons-cont"><small class="">({{mem.committee_mission_pos}})</small></div>
                        <div>----CYC Here----</div>
                    {% endif %}
                </div>
                {% else %}
                <h5>No Data</h5>
                {% endif %}
            {% endfor %}
        </div>
    </div><br><br>
    {% endfor %}

    
    {% if needed %}
    <div id="contact-us" style="width:100%;margin:150px auto; padding:20px;border-radius: 20px;" class="border-spec">
        
                <h5 style="color:coral;margin:auto 0;text-align:center"><span style="font-size: 20px;">{{reg_details|length}}</span> Registered <span style="font-size: 20px;color:black">|</span>  
                    <span style="color:rgb(107, 107, 107);margin:auto 0;text-align:center"><span style="font-size: 20px;">{{user_no_base|length}}</span> Users</span></h5>
                    
                <!-- <h5 style="color:rgb(107, 107, 107);margin:auto 0;text-align:center"><span style="font-size: 20px;">{{registered_children|length}}</span> Children </h5> -->

            <h1>{{local}} User Management System<br><span class="spans"></span></h1><br>
            <style type="text/css">
                .analysis-table{background-color:#dfdfdf;width:max-content;margin:10px auto;border-radius: 10px;padding:10px}
                .table-data{width:1200px;border-collapse: collapse;}
                .table-data th{color: rgb(255, 255, 255);border-width: 2px;border-color: #dfdfdf;padding:8px 10px;font-weight:500;background-color:#0657b4;border-style: solid;font-size:14px;}
                .table-data td {font-size:13px;font-weight:500;border-width: 1px;padding: 8px;border-style: solid;border-left-color: #dfdfdf;
                    border-bottom-color: rgb(255, 255, 255);border-right-color: #dfdfdf;border-left-style: solid;}
                .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: white;border-collapse: collapse;}
                .tftable th {font-size:12px;background-color:#acc8cc;border-width: 2px;padding: 8px;border-style: solid;border-color: white;text-align:left;}
                #children th {font-size:12px;background-color:#e9c5c5;border-width: 2px;padding: 8px;border-style: solid;border-color: white;text-align:left;}
                .tftable tr {background-color:#d4e3e5;}
                #children tr {background-color:#f3e4e4;}
                .tftable td:first-child{width:75px}
                .tftable td:nth-child(2){width:150px}
                .tftable td:nth-child(3){width:75px}
                .tftable td {font-size:12px;font-weight:500;border-width: 2px;padding: 8px;border-style: solid;border-color: white;}
                .tftable tr:hover {background-color:#ffffff;}
            </style>
            <div style="display: flex;gap:5px;background-color:;">
                <div style="width: 100%;background-color: ;overflow:auto">
                    <h3>Deacons Committee</h3>
                    <h5>Local Pastor: Example Example</h5>
                    <table class="tftable" border="1">
                        <tr><th>Name</th><th>Position</th><th>Age Group</th><th>Contacts</th></tr>
                        {% for entry in reg_details %}
                        {% set user_info = users.query.get(entry.usr_id)%}
                            <tr><td>{{user_info.name}}</td><td>{{user_info.age_group}}</td><td>{{user_info.church_local}}</td><td>{{user_info.church_zone}}</td><td>{{user_info.contact}}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>




    
    <div id="contact-us" style="width:100%;margin:150px auto; padding:20px;border-radius: 20px;" class="border-spec-child">
        <h1 style="color:#641e1e">Registration For Children<br><span class="spans"></span></h1><br>
            <!-- <h5 style="color:coral;margin:auto 0;text-align:center"><span style="font-size: 20px;">{{reg_details|length}} + {{registered_children|length}}</span> Registered <span style="font-size: 20px;color:black">|</span>  
                <span style="color:rgb(107, 107, 107);margin:auto 0;text-align:center"><span style="font-size: 20px;">{{user_no_base|length}}</span> Users</span></h5> -->
            <!-- <h5 style="color:rgb(107, 107, 107);margin:auto 0;text-align:center"><span style="font-size: 20px;">{{registered_children|length}}</span> Children </h5> -->
        <!-- <h5 style="color:rgb(107, 107, 107);margin:auto 0;text-align:center"><span style="font-size: 20px;"></span> Children </h5> -->
        <br>
        <div style="display: flex;gap:5px;background-color:;">
            <div style="width: 100%;background-color:;overflow:auto">
                <h3 style="color:#641e1e">{{local}}, Registered Children ({{registered_children|length}})</h3>
                <table id="children" class="tftable" border="1">
                    <tr><th>Date</th><th>Name</th><th>Group</th><th>Structure</th><th>Parent</th><th>Proof</th><th>Local Church</th><th>Circuit</th><th>Region</th></tr>
                    {% for child in registered_children %}
                    {% set parent_info = users.query.get(child.parent_id)%}
                    {% set parent_pop_trans = pop_transactions.query.filter_by(usr_id=child.parent_id).first() %}
                    {% if child.name %}
                        <tr><td>{{child.timestamp}}</td><td>{{child.name}}</td><td>{{child.age_group}}</td><td>{{child.denom_structure}}</td><td>{{parent_info.name}}</td>
                            {% if parent_pop_trans.pop_image %}<td>Yes</td>{% else %}<td>No</td>{% endif %}<td>{{parent_info.church_local}}</td><td>{{parent_info.church_circuit}}</td>
                            <td>{{parent_info.church_region}}</td></tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>  
    {% endif %}    
        
</div>
{% endblock %}