{% extends "base.html" %}
{% block content %}

<style>
    .form-fields{
        display:flex;
        flex-direction:column;
    }
    section{ background-image:url(static/images/bg_service.png) }
</style>
<div class="flash-messages" id="">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for  category, message in messages %}
                <div class="flash-messages alert-{{category}}"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<br><br><br>

<div style="justify-content: flex-start;padding:10px;width:70%;background-color: rgb(237, 238, 238);margin:0 auto;border-radius: 10px;" class="general-flex">
    <a style="background-color: ;z-index:500" href="/registered_users" ><img style="height:35px" class="icons" src='static/icons/table-icon.png' /></a>
    <a style="background-color: ;z-index:500" href="/registrations" ><img style="height:35px" class="icons" src='static/icons/list-icon.png' /></a>
</div>
<div class="session-title">
    <h2 style="margin-bottom:0;">{{event_details.event_title}}</h2>
    <h2>{{event_details.start_date.strftime("%d %b %y")}} - {{event_details.end_date.strftime("%d %b %y")}}</h2><br>
    <h2 style="color:coral">  Registrations </h2>
    <h5 style="color:coral;margin:auto 0;text-align:center"><span style="font-size: 20px;">{{registered_no|length}}</span> Registered <span style="font-size: 20px;color:black">|</span>  
        <span style="color:rgb(107, 107, 107);margin:auto 0;text-align:center"><span style="font-size: 20px;">{{user_no_base|length}}</span> Users</span></h5>
    
</div><br>


<div class="">
   <div class="registered-users-cont">
        <div class="registered-user">
            <div style="flex-direction: column;" class="card">
                <div class="user-info">
                    <div style="" class="img-cont">
                        <div width="90%"><img class="prf-image" src="static/images/{{user.image}}" alt=""/></div>
                    </div><br>
                    <h4 style="margin-bottom: 0;text-align: left">{{user.name}}</h4>
                    <div class="icons-cont"><img class="icons" src='static/icons/email-icon.png' /><small class="">{{user.email}}</small></div>
                    <small><i>Joined: {{user.timestamp.strftime('%d %b %Y')}}</i></small>
                </div><br>
                <div class="general-flex" style="padding:15px; align-items: flex-start !important;flex-direction:column">
                    <small class="labels">Contacts</small>
                    <small>{{user.contacts}}</small>
                    <div class="line-sep"></div>
                    <small class="labels">Local</small>
                    <div class="icons-cont"><img class="icons" src='static/icons/church-icon.png' /><small class="">{{user.church_local}}</small></div>
                    <div class="line-sep"></div>
                    <small class="labels">Pastor</small>
                    <small class="">None</small>
                    <div class="line-sep"></div>
                    <small class="labels">Zone</small>
                    <small class="">{{user.church_zone}}</small>
                    <div class="line-sep"></div>
                    <small class="labels">Mission</small>
                    <small class="">{{user.church_mission}}</small>  
            </div>

            </div><br><div style="margin:0 auto;width:200px" ><button style="width:200px" onclick="openDetails('{{user.id}}',event)" class="btns">Registration Details</button></div><br><br>

            <div id="reg-info-{{user.id}}" style="padding:;background-color:rgb(255, 255, 255)" class="registration-info">
                <div class="icons-cont sub-topic"><img class="icons" src='static/icons/registration-icon.png' /><div style="" class="sub-topic">Registration Info</div></div>
                <div class="general-flex" style="padding:10px; align-items: flex-start !important;flex-direction:column">
                    <small class="labels">Proof of Payment</small>
                    <div onclick="popUp('{{user.id}}')" class="btns">Open</div>
                    <small class="labels">Payment Platform</small>
                    <small>{{reg_details.query.filter_by(usr_id=user.id).first().payment_platform}}</small>
                    <small class="labels">Reference No.</small>
                    <small>{{reg_details.query.filter_by(usr_id=user.id).first().transaction_id}}</small>
                    <small class="labels">Accommodation</small>
                    {% if reg_details.query.filter_by(usr_id=user.id).first().accommodation_add_info == 1 %}
                    <small>Accommodation Required</small>{% else %}<small>Not Required</small>{% endif %}
                    {% if reg_details.query.filter_by(usr_id=user.id).first().special_diet  == 1  %}<small class="labels">Special Diet</small>
                    <small>{{reg_details.query.filter_by(usr_id=user.id).first().special_diet}}</small>{% endif %}
                    <small class="labels">Date</small>
                    <small>{{reg_details.query.filter_by(usr_id=user.id).first().timestamp}}</small>
                </div>
            </div><br>

            <div id="ev-info-{{user.id}}" style="padding:;background-color:rgb(255, 255, 255)" class="registration-info">
                <div class="icons-cont sub-topic"><img class="icons" src='static/icons/event-icon.png' /><div style="" class="sub-topic">Event Info</div></div>
                <div class="general-flex" style="padding:10px; align-items: flex-start !important;flex-direction:column">
                    <small class="labels">Event Title</small>
                    <small >{{event_details.event_title}}</small>
                    <small class="labels">Date</small>
                    <small> {{event_details.start_date.strftime("%d %b %y")}} - {{event_details.end_date.strftime("%d %b %y")}}</small>
                    <small class="labels">Venue</small>
                    <small>{{event_details.event_venue}}</small>
                </div>
            </div>

            <!-- Pop-up -->
            {% if reg_details.query.filter_by(usr_id=user.id).first().pop_image %}
            <div id="pop_image_{{user.id}}" class="pop-cont">
                <div id="popup_{{user.id}}" class="pop-up">
                    {% set pop_img = reg_details.query.filter_by(usr_id=user.id).first().pop_image %}
                    {% set file_ext = pop_img.split('.')[-1] | lower %}
                    <!---IMG VIEWER-->
                    {% if file_ext  in ['jpg','jpeg','png', 'gif'] %}
                        {% if pop_img %}
                            <h4>{{pop_img}}</h4>
                        {% endif %}
                        <img  src="static/uploads/{{pop_img}}" />
                    <!---PDF VIEWER-->
                    {% elif file_ext  == 'pdf' %}
                    <h4>{{pop_img}}</h4>
                        <embed src="static/uploads/{{pop_img}}" type="application/pdf" width="100%" height="1000px" />
                    <!---DOCX VIEWER-->
                    {% elif file_ext  == 'docx' %}
                        <iframe src="https://docs.google.com/gview?url={{ url_for('static', filename='uploads/pop_img') }}&embedded=true" width="100%" height="1000px" frameborder="0"></iframe>
                    {% else %}
                        <p>Unsupported file format.</p>
                    {% endif %}
                    <br>
                    <div  style="align-self:flex-end;width:60%" ><input onclick="closePopup('{{user.id}}')" class="btns" type="button" value="Exit"></div>
                </div>
            </div>
            {% endif %}

        </div>
   </div>
  
</div>



<script>
    
</script>
{% endblock %}