{% extends "base.html" %}
{% block content %}

<style>
    .form-fields{
        display:flex;
        flex-direction:column;
    }
    section{ background-image:url(static/images/bg_service.png) }
</style>
<div class="flash-messages" id="">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for  category, message in messages %}
                <div class="flash-messages alert-{{category}}"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<br><br><br>
<div class="user-info">
    <div style="" class="img-cont">
        <div width="90%"><img class="prf-image" src="static/images/{{user.image}}" alt=""/></div>
    </div>
    <h4 style="margin-bottom: 0;text-align: left;">{{user.name}}</h4>
    <div class="icons-cont"><img class="icons" src='static/icons/email-icon.png' /><small class="">{{user.email}}</small></div>
    <div class="icons-cont"><img class="icons" src='static/icons/church-icon.png' />{% if user.church_local %}<small class="">{{user.church_local}}, {{user.church_circuit}}
         Circuit, {{user.church_region}}</small></div>
{% else %}<a href="/account">{{user.church_local}} Finish Sign-up</a>{% endif %}
{% if user.timestamp %}<small>Joined: {{user.timestamp.strftime("%d %b %y")}}</small>{% endif %}
</div><br>

{% if event_details %}
<div style="height:200hv !important;align-items:flex-start;" class="container">

  <div style="" class="login-cont flex-general">

    <form style="background-color:;flex-direction:column;z-index:1000;" class="" _lpchecked="1" action="" method="post" enctype="multipart/form-data">
        <h1 style="text-align: left;">Services<br> Registration <br> Form,<br><span style="font-size:15px;color:rgb(102, 102, 102)">{{event_details.event_title}},<br> {{event_details.start_date}} - 
            {{event_details.end_date}},<br>
            @{{event_details.event_venue}}</span></h1>
        {{registration_form.hidden_tag()}}

        <div id="payment_platform" class="group">
            {{ registration_form.payment_platform.label }}<br>
            {{ registration_form.payment_platform(class="form-control",placeholder="e.g. Momo") }}<br>
            <label style="color:brown;font-size: 12px;" class="labels">Current Value: {{usr_reg_details.payment_platform}}</label><br>
            {% if registration_form.payment_platform.errors %}
            {% for error in registration_form.payment_platform.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div id="compulsury-pop" style="position: relative;" class="group">
            {{ registration_form.pop_image.label }}<br>
            {{ registration_form.pop_image(class="form-control") }}<br>
            {% if registration_form.pop_image.errors %}
                {% for error in registration_form.pop_image.errors %}<span class="span-error" >*{{error}}</span>{% endfor %}
            {% endif %}
        </div>

        <div class="group">
            {{ registration_form.denom_structure.label }}<br>
            {{ registration_form.denom_structure(class="form-control",placeholder="Structure") }}<br>
            <label style="color:brown;font-size: 12px;" class="labels">Current Value: {{usr_reg_details.denom_structure}}</label><br>
            {% if registration_form.denom_structure.errors %}
            {% for error in registration_form.denom_structure.errors %}<span class="span-error" >*{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div id="" class="group">
            {{registration_form.accommodation_add_info.label}}
            <div style="width:70px !important" class="accomo">{{ registration_form.accommodation_add_info(class="form-control",placeholder="Additional Info (Optional)")}}</div>
            {% if usr_reg_details.accommodation_add_info == 1 %}
            <label style="color:brown;font-size: 12px;" class="labels">Current Value: Accommodation Required</label>
            {% else %}<label style="color:brown;font-size: 12px;" class="labels">Current Value: Accommodation Not Required</label>{% endif %}
            {% if registration_form.accommodation_add_info.errors %}
                {% for error in registration_form.accommodation_add_info.errors %}<span class="span-error" >*{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div  class="group">
            {{registration_form.special_diet_bool.label}}
            <div style="width:70px !important" class="accomo">{{registration_form.special_diet_bool(id="special_diet_bool",class="form-control")}}</div>
        </div>
        <div id="special_diet_container" class="group hidden">
            {{ registration_form.special_diet(class="form-control",placeholder="Please Specify Diet")}}<br>
            {% if registration_form.special_diet.errors %}
                {% for error in registration_form.special_diet.errors %}<span class="span-error" >*{{error}}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% if usr_reg_details.special_diet   %}
            <label style="color:brown;font-size: 12px;font-weight:600" class="labels">Current Value: {{usr_reg_details.special_diet}}</label>
            {% else %}
            <label style="color:brown;font-size: 12px;font-weight:600" class="labels">Current Value: No Special Diet</label>
        {% endif %}<br>

        <div style="" class="group">
            <div style="width:80px" onclick="confirmationPopup('{{user.id}}')" class="btns">Update</div>
            <!--<input class="btns" type="submit" value="Create Account" />-->
            <!-- <div><a class="slinks-li" href="/login">Login</a></div> -->
        </div>

        <div style="" class="group">
            <!-- <div><a class="slinks-li" href="/register">Forgot Password?</a></div> -->
        </div>

        <!-- Test Pop-up on Confirm -->
        <div id="popup_cont" class="pop-cont">
            <div style="height:;width:300px;top:100px" id="popup" class="pop-up">
                
                <div id="payment_platform" class="group">
                    {{ registration_form.payment_platform.label }}<br>
                    {{ registration_form.payment_platform.data }}
                    {% if registration_form.payment_platform.data %}
                        {% if not registration_form.payment_platform.data == usr_reg_details.payment_platform %}
                            <label style="color:brown;font-size: 12px;" class="labels">{{registration_form.payment_platform.data}}</label><!---New Value-->
                        {% else %}
                            {{usr_reg_details.payment_platform}}<!---currnet value-->
                        {% endif %}
                    {% else %}
                        {{usr_reg_details.payment_platform}}<!---None or currnet value-->
                    {% endif %}
                </div>

                <div id="" class="group">
                    {{ registration_form.denom_structure.label }}<br>
                    {% if registration_form.denom_structure.data %}
                        {% if not registration_form.denom_structure.data == usr_reg_details.denom_structure %}
                            <label style="color:brown;font-size: 12px;" class="labels">{{registration_form.denom_structure.data}}</label><!---New Value-->
                        {% else %}
                            {{usr_reg_details.denom_structure}}<!---currnet value-->
                        {% endif %}
                    {% else %}
                        {{usr_reg_details.denom_structure}}<!---None or currnet value-->
                    {% endif %}
                </div>

                <div id="" class="group">
                    {{ registration_form.accommodation_add_info.label }}<br>
                    {% if registration_form.accommodation_add_info.data %}
                        {% if not registration_form.accommodation_add_info.data == usr_reg_details.accommodation_add_info %}
                            {% if registration_form.accommodation_add_info.data == 1 %}
                            <label style="color:brown;font-size: 12px;" class="labels">Accommodation Required</label>
                            {% else %}<label style="color:brown;font-size: 12px;" class="labels">Accommodation Not Required</label>{% endif %}<!---New Value-->
                        {% else %}
                            {{usr_reg_details.accommodation_add_info}}<!---currnet value-->
                        {% endif %}
                    {% else %}
                        {{usr_reg_details.accommodation_add_info}}<!---None or currnet value-->
                    {% endif %}
                </div>

                <div id="" class="group">
                    {{ registration_form.special_diet.label }}<br>
                    {% if registration_form.special_diet.data %}
                        {% if not registration_form.special_diet.data == usr_reg_details.special_diet %}
                            <label style="color:brown;font-size: 12px;" class="labels">Current Value: {{registration_form.special_diet.data}}</label><!---New Value-->
                        {% else %}
                            {{usr_reg_details.special_diet}}<!---currnet value-->
                        {% endif %}
                    {% else %}
                        {{usr_reg_details.special_diet}}<!---None or currnet value-->
                    {% endif %}
                </div>

                <div style="" class="group">
                        <div>{{ registration_form.submit(class="btns") }}</div><br>
                        <!--<input class="btns" type="submit" value="Create Account" />-->
                        <!-- <div><a class="slinks-li" href="/login">Login</a></div> -->
                </div>
                <div style="" class="group">
                    <!-- <div><a class="slinks-li" href="/register">Forgot Password?</a></div> -->
                </div>
            </div>
        </div>
    </form>
  </div>
</div>

{% else %}
<h1 style="text-align:center">Sorry, There are No Upcoming Events Open at the Moment!</h1>
<h1 style="text-align:center">Check Again Later</h1>
<br>
{% endif %}

<script>

    function confirmationPopup(id){
            let popup = document.querySelector("#popup_cont");
            let popCont = document.querySelector('#popup');
            popCont.classList.toggle("show-popup");
            popup.classList.toggle("show-popup");
        };

    function closePopup(id){
            let popup = document.querySelector("#popup_cont");
            let popCont = document.querySelector('#popup');
            popup.classList.remove("show-popup");
            popCont.classList.remove("show-popup");
        };
  
</script>
{% endblock %}